<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clerk Login</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

</head>
<body style="font-family: 'Lato', sans-serif; font-size:22px">
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-text navbar-left" href="#">

            </a>

        </div>
    </div>
</nav>
<div class="container ">

    <div class="w3-card p-5 ">
    <div class="text-center">
       <h3 style="color:#00758F">Clerk Login </h3> <hr>
    </div>
    <form th:action="@{/clerk/login}" method="post"
          style="max-width:600px;margin: 0 auto;"
         th:object="${clerk}"
    >
    <fieldset>

        <div th:if="${param.error}" class="alert alert-error">
            Invalid UserName and password
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged Out
        </div>


        <div class="input-group ">
            <div class="input-group m-4 ">
                <span class="input-group-addon" id="email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email" class="form-control" th:field="*{email}" placeholder="Email" aria-describedby="at" required>

            </div>

        <div class="input-group m-4">
            <span class="input-group-addon " id="lock"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password" aria-describedby="lock" required>
        </div>
        </div>
        <div class="m-4">
            <small class="float-right"><a class="text-red" th:href="@{/forgot_clerk_password}">Forgot Password?</a></small>
        </div>
            <div class="m-4">
                <small>Are you New?<a th:href="@{/clerk/register}"> Click here to Register</a></small>
            </div>
            <div class="m-4" >
                <button  style="width:25%;margin-right:250px;background:#00758F;border:none" class="btn btn-dark rounded-pill p-2"><a class="text-white" th:href="@{/login}">Login As Staff</a></button>
                <button type="submit" style="width:25%;border:none" class="btn btn-dark rounded-pill p-2 ">Log In</button>
            </div>


     </fieldset>


    </form>
    </div>

</div>

</body>
</html>