<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

</head>
<body style="box-sizing:border-box; font-family: 'Poppins', sans-serif;font-size:13px">
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-text navbar-left" href="#">

            </a>

        </div>
    </div>
</nav>
<div class="container ">

    <div class="w3-card p-5 ">
    <div class="text-center">
       <h3 style="color:#00758F">Admin Forgot Password </h3> <hr>
    </div>
    <form th:action="@{/forgot_admin_password}" method="post"
          style="max-width:600px;margin: 0 auto;"
         th:object="${admin}"
    >
    <fieldset>

        <div th:if="${error!=null}" class="alert alert-error">
            [[${error}]]
        </div>
        <div th:if="${message != null}" class="alert alert-success">
            [[${message}]]
        </div>


        <div>
            <p>
                You will receive an email with a reset password link.
            </p>
        </div>
        <div class="input-group ">
            <div class="input-group m-4 ">
                <span class="input-group-addon" id="email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email"  name="email" class="form-control"  placeholder="Enter a valid Email address" aria-describedby="at" required>

            </div>

        </div>

        <div class="text-center" >
            <button type="submit"  value="send" style="width:25%;margin-right:250px;background:#00758F;border:none" class="btn btn-dark rounded-pill p-2">Send</button>

        </div>
     </fieldset>


    </form>
    </div>

</div>

</body>
</html>