<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Suppliers</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="box-sizing:border-box; font-family: 'Poppins', sans-serif;font-size:13px">
<div  layout:fragment="content">
    <!--Content of the page-->
    <div class="row">
    <div class="col-md-8">
        <h3>Suppliers</h3>
    </div>

      <div class=" navbar-right col-md-4 ">
          <div class="row">
        <form th:action="@{/logout}"  method="post">
            <a style="color:indigo" class="text-dark border-0 mr-2">
                <i class="fa fa-sign-out"  aria-hidden="true">
                </i>
            </a>
        </form>
          <a style="color:indigo" class="text-dark" th:href="@{/suppliers/export}">
              <i class="fa fa-print" aria-hidden="true"></i>
          </a>
          </div>
      </div>

    </div>
    <hr>
    <!--Search Bar -->
    <nav class="navbar navbar-right">
        <form th:action="@{/admin/list_suppliers}">
        <div class="input-group navbar-left " th:action="@{/admin/list_suppliers}">
            <input type="text" class="form-control " name="keyword" id="keyword"  th:value="${keyword}" size="50" placeholder="Search supplier" >
            <div class="input-group-append " >
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </div>
            <!--div class=" navbar-right ml-4 mr-4 mt-2">
                <form th:action="@{/logout}"  method="post">
                    <a style="color:indigo" class=" border-0">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </form>
            </div-->
        </div>
        </form>

    </nav>
<div class="col-md-12" style="height:50px">

</div>
        <table class="table  table-hover">
            <thead class="thead">
            <tr>
                <th>SUPPLIER ID</th>
                <th>COMPANY NAME</th>
                <th>LOCATION</th>
                <th>PHONE NUMBER</th>
                <th>EMAIL</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="suppliers: ${listSuppliers}">
                <td th:text="${suppliers.id}">SUPPLIERS ID</td>
                <td th:text="${suppliers.nameOfCompany}">NAME OF COMPANY</td>
                <td th:text="${suppliers.location}">LOCATION</td>
                <td th:text="${suppliers.phoneNumber}">PHONE NUMBER</td>
                <td th:text="${suppliers.email}">EMAIL</td>
                <td><a th:href="@{'/delete_supplier/' + ${suppliers.id}}"><i class="fa fa-trash-o" onclick="return(are you sure?)" aria-hidden="true"></i></a></td>
                <td><a style="color=red" href="/edit_supplier"><i class="fa fa-edit" aria-hidden="true"></i></a></td>

            </tr>

            </tbody>

        </table>


    <!--Button and Modal for adding supplier-->
    <button type="button" class="btn btn-dark right" data-toggle="modal" data-target="#addSupplier">Supplier</button>

    <div class="modal fade" id="addSupplier" tabindex="-1" role="dialog" aria-labelledby="add supplier" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Suppliers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  th:action="@{/process_addSupplier}" method="post"
                           th:object="${suppliers}">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name of company</label>
                            <input type="text" class="form-control" id="name" th:field="*{nameOfCompany}">
                        </div>

                        <div class="form-group">
                            <label for="location" class="col-form-label">Location:</label>
                            <input type="text" class="form-control" id="location" th:field="*{location}">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone Number:</label>
                            <input type="number" class="form-control" id="phone" th:field="*{phoneNumber}">
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>


<script>

</script>

</body>
</html>